.container {
    display: flex;
    flex-direction: column;
}

.textBox {
    padding: 1%;
    height: 35vh;
    resize: none;
}

.inputContainer {
    display: flex;
}

.inputText {
    flex: 1;
    margin: 2px;
}

.outputContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    margin: 2px;
    background-color: white;
}

.outputText {
    flex: 1;
    border: none;
}

.copyBtn {
    border: none;
    background-color: white;
}

.copyBtn:hover {
    background-color: lightgrey;
}